@import "./base/variables";


header {
    background-color: $bg-color;
    nav {
        padding: $relleno;
        ul {
            li {
                list-style-type: none;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}